footer {
    padding: 50px 15px;
    background-color: #001466;
}

.footer-logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    font-family: 'Onest';
    color: #FFAAE0;
    font-weight: 500;
}

.social-link {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

.social-link a {
    color: #f6fff8;
    display: inline-block;
    margin: 0px 12px;
    /* transition: all 0.5s ease; */
    font-size: 20px;
}

.social-link a:hover {
    color: #FFAAE0;
    transform: scale(1.3);
}

.copyright {
    background-color: #FFAAE0;
    border-top: 1px solid #999999;
    padding: 15px;
}

.copyright p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    /* color: rgb(236, 241, 250); */
    color: #001466;
}

.gotobtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

.gotobtn a {
    height: 39px;
    width: 37px;
    text-align: center;
    background-color:#001466;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

.gotobtn a span {
    color: #FFAAE0;
    line-height: 39px;
    font-size: 17px;
}

.gotobtn a:hover{
    background-color: #001466;
    transition: all ease 0.5s;
}

.gotobtn a:hover span{
    color: #fff;
    transition: all ease 0.5s;
}